.journal-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.form-label {
    display: flex;
    align-items: center;
    gap: 20px;
    min-width: 150px;
}

.form-row {
    display: flex;
    align-items: center;
    gap: 50px;
}

.input {
    border: none;
    background: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-family: "Source Sans 3", sans-serif;
    border-bottom: 1px solid #323232;
    width: 100%;
}


.invalid {
    border: 1px solid RED;
    background: rgb(68, 6, 6);
}

.trash {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.trash-btn {
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
}


.trash-btn:hover svg g rect {
    stroke: #ff0000;
}


.trash-btn:hover svg g path {
    stroke: #ff0000;
}

